@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');

@font-face{
  font-family: "ArchitectsDaughter-Regular";
  src: url("Fonts/ArchitectsDaughter-Regular.ttf") format("ttf");
}

                                                                        /* LANDING PAGE */
html, body{
  margin: 0;
  padding: 0;
  background-color: lightgray;
  scroll-behavior: smooth;
}
.parallax {
  /* The image used */
  background-image: url("Images/city-landscape-1.jpg");

  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1{
  margin: 0;
    
}

.home-container{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100rem;
  margin: 0 auto;
  /*background-color: aqua;*/
  /*background-image: url("Images/city-landscape-1.jpg");*/
  /*background-blend-mode: multiply;*/
  /*background-size: cover;*/
  /*height: 100vh;*/
  
  
  
}
.flex-column{
  display: flex;
  flex-direction: column;
}

.name{
  font-size: 4em;
  font-family: "Architects Daughter";
  /*Text background for animation*/
  background: url('Images/text-bg-2\ -\ Copy.jpg') no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: animateTextBg 25s linear infinite;
  -webkit-animation: animateTextBg 25s linear infinite;
  text-shadow: 0 0.4rem 2rem turquoise;
    

    
}
.cv-text{
  font-family: "Architects Daughter";
  font-size: 2em;
  border-radius: 50%;
  color: white;
}

/*Animation*/
@keyframes animateTextBg{
  0%{
    background-position: 0% 30%;
  }
  100%{
    background-position: 100% 50%;
  }
}

.view-button {
  font-size: 1rem;
  font-family: "Architects Daughter";
  padding: 1rem;
  width: 10rem;
  text-align: center;
  border: none;
  margin-bottom: 1rem;
  text-decoration: none;
  /*background-color: transparent;*/
  opacity: 0.5;
  color: black;
  font-weight: bold;
    
    
}
button:hover{
  cursor: pointer;
  box-shadow: 0 0.4rem 2rem 0 turquoise;
  transform: translateY(-0.1rem);
  transition: transform 150ms;
    
}



                                                                        /* NAVBAR */


/*background color*/
.topnav {
  background-color: #333;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 99;
}
  
/*links style*/
.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: "Architects Daughter";
}
  
/*links color*/
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/*active class*/
.topnav a.active {
  background-color: turquoise;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

                                                                        /* SECTIONS */

section{
  display: block;
  height: 100vh;
    
    
}

.content{
  margin: 1em;

}

.container{
  display: block;
  height: 100vh;
  max-width: 100rem;
  margin: 0 auto;
  padding: 25px;
  font-family: "Architects Daughter";
  color: white;
  background-color: rgba(40,40,40,.65);
    
}

.section-header{
  font-family: "Architects Daughter";
  text-align: center;
  color: aqua;
  font-size: 2em;
  text-shadow: 5px 5px 10px black;
  padding: 10px;
}
/*About*/
.selfie{
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  
}
/*Social*/
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}
/*Skills*/

.grid-container{
  display: grid;
  grid-gap: 1px;
}
.grid1{
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}
.grid2{
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
}
.grid3{
  grid-column: 2 / span 1;
  grid-row: 1 / span 2;
}
.skill-sections{
  font-family: "Architects Daughter";
}
p{
  margin: auto;
}
.skill-container{
  width: 85%;
  background-color: white;
}
.skills {
  text-align: right;
  padding-top: 5px;
  padding-bottom: 5px;
  color: darkgrey;
}
.excel {width: 75%; background-color:turquoise;}
.word {width: 75%; background-color:turquoise;}
.powerpoint {width: 75%; background-color:turquoise;}
.c-sharp {width: 50%; background-color:turquoise;}
.cplusplus {width: 50%; background-color:turquoise;}
.java {width: 50%; background-color:turquoise;}
.html {width: 50%; background-color:turquoise;}
.css {width: 50%; background-color:turquoise;}
.eng {width: 75%; background-color:turquoise;}
.afr {width: 75%; background-color:turquoise;}
.blender {width: 25%; background-color:turquoise;}
.scetch {width: 75%; background-color:turquoise;}
.ui-design {width: 25%; background-color:turquoise;}

/*Portfilio*/
* {
  box-sizing: border-box;
}
.port-head{
  font-family: "Architects Daughter";
  text-align: center;
  padding-top: 5px;
  font-weight: bold;
}
.api{
  text-align: center;
}
.column {
  float: left;
  width: 25%;
  
  padding: 5px;
}
.row1 {
  margin: 0 -5px;
  
}
.row2 {
  margin: 0 -5px;
  
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 900px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 40px;
  }
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: lightsalmon;
}

/*Experience*/
/*Contact*/